<div class="col-md-6 col-md-offset-3">

  <h3>Citizen Page</h3>
  <form name="form" (ngSubmit)="registerVote()" #f="ngForm">


    <!--<div *ngIf="!voted">-->
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Party</th>
          <th>Symbol</th>
          <th>Candidate</th>
          <th>Vote</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let candidate of ballots">
          <td>{{candidate.Party}}</td>
          <td>{{candidate.Symbol}}</td>
          <td>{{candidate.UserId.firstname}}</td>
          <td>
            <input type="radio" name="selCandidate" (click)="candDetails(candidate)" />
          </td>
        </tr>
      </tbody>
    </table>
    <br />
    <button [disabled]="" class="btn btn-primary pull-right">Cast Vote</button>
    <!--<button class="btn btn-primary pull-right" (click)="vote()">Cast Vote </button>-->
    <!--</div>-->
    <br />
    <br />
    <p>
      <a [routerLink]="['/login']">Logout</a>
    </p>
  </form>
</div>