<!-- <div class="col-md-6 col-md-offset-1">
  <h2>My Profile</h2>
  <div *ngIf="getUser.length">
    <table class="table">
      <tr>
        <td> First Name</td>
        <td>{{getUser[0].firstname}}</td>
      </tr>
      <tr>
        <td>Last Name</td>
        <td>{{getUser[0].lastname}}</td>
      </tr>
      <tr>
        <td>email ID</td>
        <td>{{getUser[0].email}}</td>
      </tr>
      <tr>
        <td>Unique ID</td>
        <td>{{getUser[0].uniqueid}}</td>
      </tr>
      <tr>
        <td>Constituency</td>
        <td>{{getUser[0].constituency.constituencyName}}</td>
      </tr>
      <tr>
        <td>Role</td>
        <td>{{getUser[0].role.roleName}}</td>
      </tr>

    </table>
  </div>
</div> -->
<!-- <ng-container *ngIf="getUser.length">
  <li>{{getUser[0].firstname}}</li>
  <li>{{getUser[0].lastname}}</li>
  <li>{{getUser[0].email}}</li>
  <li>{{getUser[0].uniqueid}}</li>
</ng-container> -->


<div class="container-fluid span6">
  <div class="row-fluid">
    <div class="span2">
      <img src="..\assets\images\user-pic.jpg" class="img-circle" width="50px" height="50px">
    </div>

    <div class="span8">
      <h3>User Name</h3>
      <h6>Email: MyEmail@servidor.com</h6>
      <h6>Ubication: Colombia</h6>
      <h6>Old: 1 Year</h6>

    </div>


  </div>
</div>