/* You can add global styles to this file, and also import other style files */
@import url('sb-admin.css');
a {
    cursor: pointer;
}

.help-block {
    font-size: 12px;
}

.popupmodal{
    background-color: red;
}

.overlay{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;	
	bottom: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: .9;
	z-index: 3;
}

.clickable{
    cursor: pointer;
}

.vote-img{
    background-image: url("/assets/images/vote-background.jpg");
    background-size: contain;
    background-repeat: no-repeat; 
}

.img-center{
    margin: 25px 25px 10px;
}

.profile-title{
    font-family: fantasy;
    color: #337ab7;
    text-align: center;
    font-size: 2rem;
}
.profile-sub-title{
    text-align: center;
    font-size: 1.2rem;
    color: #337ab7;
    text-transform: uppercase;
    margin-bottom: 10px;
}