<div *ngIf='closeModal'>
<div class="overlay" *ngIf="message">
    <div class="modal-open">
        <div class="modal animated fadeIn" style="display:block">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header" [ngClass]="{ 'alert': message, 'alert-success': message.type === 'success', 'alert-danger': message.type === 'error' }">
                        <button type="button" class="close" data-dismiss="modal" (click)="closePopup()">&times;</button>
                        <h4 class="modal-title">{{message.type}}</h4>
                    </div>
                    <div class="modal-body">
                        <p>{{message.text}}</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="closePopup()">Close</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
</div>
<!-- <div [ngClass]="{ 'alert': message, 'alert-success': message.type === 'success', 'alert-danger': message.type === 'error' }">{{message.text}}</div> -->